<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="f8b0c1d1-8437-46b7-a2ef-de2e7977b50b" name="Library Services" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="f8b0c1d1-8437-46b7-a2ef-de2e7977b50bfileName">Library-Services</con:setting></con:settings><con:savedRecentRuns>1</con:savedRecentRuns><con:runType>SEQUENTIAL</con:runType><con:properties/><con:reportParameters/></con:testSuite>